@font-face {
    font-family: "ValueSansPro-Italic";
    src: url("/fonts/ValueSansPro-Italic.woff2") format("woff2"),
    url("/fonts/ValueSansPro-Italic.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
body {
    font-family: "ValueSansPro-Italic", sans-serif;
    margin: 0;
    font-weight: 400;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EDEBE9;
    padding: 0 4%;
}
.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EDEBE9;
    padding: 0 4%;
}
.item {
    font-size: 16px;
}
.list {
    display: flex;
    list-style: none;
}
.list li {
    margin-left: 20px;
}
.number {
    font-weight: 700;
}
.image {
      width: 17.19px;
      height: 21.94px;
}
.image2 {
    width: 224px;
    height: 50px;
    padding-top: 20px;
    padding-left: 80px;
    
}
.element {
    border: 2px solid #8B4795;
    width: 1126px;
    height: 50px;     
    margin-top: 70px;
    margin-left: 397px;
    border-radius: 71px;
}
