@font-face {
    font-family: "ValueSansPro-Italic";
    src: url("/fonts/ValueSansPro-Italic.woff2") format("woff2"),
    url("/fonts/ValueSansPro-Italic.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("/fonts/gothampro.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}


body {
    font-family: "ValueSansPro-Italic", sans-serif;
    margin: 0;
    font-weight: 400;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EDEBE9;
    padding: 0 4%;
}
.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EDEBE9;
    padding: 0 4%;
}
.item {
    font-size: 16px;
}
.list {
    display: flex;
    list-style: none;
}
.list li {
    margin-left: 20px;
}
.number {
    font-weight: 700;
}
.image {
      width: 17.19px;
      height: 21.94px;
}
.image2 {
    width: 224px;
    height: 50px;
    padding-top: 20px;
    padding-left: 80px;
    
}
.element {
    border: 2px solid #8B4795;
    width: 1126px;
    height: 50px;     
    margin-top: 70px;
    margin-left: 397px;
    border-radius: 71px;
}

.search-block {
    display: flex;
    padding: 0 80px;
    box-sizing: border-box;
    margin-top: 20px;
}

.search-block__image {
    width: 224px;
    height: 50px;
}

.search-line {
    position: relative;
    width: calc(100% - 224px);
    margin-left: 15%;
}

.element__search {
    width: 100%;
    padding: 17px 30px;
    border: 2px solid #8B4795;
    border-radius: 71px;
    outline: none;
    font-size: 16px;
}

.element__search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.button__icon {
    padding: 0px 15px;
    width: ;
    height: ;

}

.sections {
    font-family: "Gotham Pro", sans-serif;
    display: flex;
    list-style: none;
    height: 30px;
    justify-content: space-between;
    margin-right: 4%;
    margin-left: 4%;
}

.value {
    position: relative;
    
    
    
    
}



.top {
    position: absolute;
}

.front {
    position: absolute;
    right: 0;
    bottom: 200px;
}
.sofa {
    position: relative;
    right: 50;
    bottom: 350px;
}