@font-face {
    font-family: "ValueSansPro-Italic";
    src: url("/fonts/ValueSansPro-Italic.woff2") format("woff2"),
    url("/fonts/ValueSansPro-Italic.woff") format("woff");
    font-style: normal;
    font-weight: 400;
  }
    body {
        font-family: "ValueSansPro-Italic", sans-serif;
        font-size: normal;
        font-weight: 400;
    }
